<div class="container">
  <div class="row">
    <div class="col order-last">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Producto</h5>
          <img *ngFor="let p of products" style="width: 60%;height: 185px;"
            src="{{p.img}}" class="card-img-top"
            alt="">
        </div>
        <ul *ngFor="let p of products" class="list-group list-group-flush">
          <li class="list-group-item">
            <b>Detalle: </b>{{p.detalle}}
          </li>
          <li class="list-group-item"><b>Precio:</b> {{p.precio}}</li>
          <li class="list-group-item"><b>Tamaño:</b> {{p.tamano}}</li>
          <li style="color: #007600;" class="list-group-item"><b>{{p.status}}</b></li>
        </ul>
      </div>
    </div>
    <div class="col" style="position: inherit;">
      <div class="container">
        <form>
          <div class="form-group">
            <label>Código del Proveedor</label>
            <input type="number" placeholder="8231238" class="form-control">
          </div>
          <div class="form-group">
            <label>Empresa</label>
            <select class="form-control">
              <option>Sistema Veterinaria</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter email">
          </div>
          <div class="form-group">
            <label>No.Télefono</label>
            <input type="tel" class="form-control" placeholder="(644) 113-7484">
          </div>
          <div class="form-group">
            <label>Producto</label>
            <select class="form-control">
              <option>Comida para perro</option>
              <option>Comida para tortugas</option>
              <option>Comida para peces</option>
              <option>Comida para gatos</option>
            </select>
          </div>
          <div class="form-group">
            <label>Cantidad</label>
            <input type="number" placeholder="10" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>