<div class="container">
  <div class="row">
    <h2>Ventas realizadas este día</h2>
    <button
      type="button"
      data-toggle="modal"
      data-target="#exampleModalCenter"
      class="btn btn-primary newsale"
    >
      Nueva Venta
    </button>
  </div>
  <!-- <input class="form-control" type="text" placeholder="Default input"> -->
  <!-- Search input -->
  <input
    class="form-control"
    type="text"
    placeholder="Buscar por "
    aria-label="Search"
  />
  <br />
  <!-- Sale table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Mascota</th>
        <th scope="col">Lo Atendió</th>
        <th scope="col">Detalle</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Dr Carlos Vazquez</td>
        <td><button class="btn btn-primary">Ver Detalle</button></td>
        <td><button class="btn btn-primary">Eliminar Venta</button></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Nueva venta</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- INPUTS DE LA VENTA -->
        <h6>¿Se tenía una cita apartada?</h6>
        <label class="radio-inline"
          ><input
            type="radio"
            name="optradio"
            (click)="quoteStat(true)"
            checked
          />Si</label
        >
        &nbsp;
        <label class="radio-inline"
          ><input
            type="radio"
            value="false"
            (click)="quoteStat(false)"
            name="optradio"
          />No</label
        >
        <div [hidden]="quoteStats">
          <h6>Nombre del Cliente</h6>
          <input type="text" class="form-control" />
          <br />
          <h6>Nombre de la Mascota</h6>
          <input type="text" class="form-control" />
          <br />
          <h6>Atención</h6>
          <ngx-select-dropdown
            (change)="priceUpdater()"
            [config]="configSpeciality"
            [options]="SpecialityArray"
            [(ngModel)]="Speciality"
            [multiple]="true"
          ></ngx-select-dropdown>
          <br />
          <h6>Productos</h6>
          <ngx-select-dropdown
            [config]="configProducts"
            [options]="ProductsArray"
            [(ngModel)]="product"
            [multiple]="true"
            (change)="priceUpdater()"
          ></ngx-select-dropdown>
        </div>

        <div [hidden]="!quoteStats">
          <h6>Selecciona la cita</h6>
          <ngx-select-dropdown
            [config]="configQuote"
            [options]="QuotesArray"
            [(ngModel)]="quote"
            (change)="priceUpdater()"
          ></ngx-select-dropdown>
          
          <br />
          <h6>Cliente</h6>
          <input type="text" placeholder="Nombre del cliente" [value]="quote?.Client" class="form-control" disabled="disabled" />
          <br />
          <h6>Mascota</h6>
          <input type="text" [value]="quote?.Pet" class="form-control" disabled="disabled" />
          <br />
          <h6>Atención en  la cita</h6>
          <input type="text" class="form-control" [value]="quote?.Speciality" disabled="disabled" />
          <br />
          <h6>Agregar atención</h6>
          <ngx-select-dropdown
            (change)="priceUpdater()"
            [config]="configSpeciality"
            [options]="SpecialityArray"
            [(ngModel)]="Speciality1"
            [multiple]="true"
          ></ngx-select-dropdown>
          <br />
          <h6>Productos</h6>
          <ngx-select-dropdown
            [config]="configProducts"
            [options]="ProductsArray"
            [(ngModel)]="product1"
            [multiple]="true"
            (change)="priceUpdater()"
          ></ngx-select-dropdown>
        </div>

        <br />
        <hr />
        <div class="row">
          <div class="align">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>

              <input
                type="text"
                disabled="disabled"
                value="{{ price }}"
                class="form-control"
                id="inlineFormInputGroup"
                placeholder="Total"
                readonly
              />
            </div>
          </div>
        </div>
        <br />
        <br />
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cerrar
          </button>
          <button type="button" (click)="saveSale()" class="btn btn-primary">
            Guardar Venta
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
