<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header title" id="sidebarCollapse">
      <h3>Sistema Veterinaria</h3>
      <strong>SV</strong>
    </div>
<hr>

    <ul class="list-unstyled components" style="border: none;">
      <li routerLink="/home" routerLinkActive="active">
        <a>
          <i class="fas fa-home"></i>&nbsp;
          <label class="font">Inicio</label>
        </a>
      </li>
      <li routerLink="/sale" routerLinkActive="active">
        <a>
          <i class="fas fa-cart-plus"></i>&nbsp;
          <label class="font">Venta</label>
        </a>
      </li>
      
      <li routerLink="/prueba1" routerLinkActive="active">
        <a>
          <i class="fas fa-hand-holding-heart"></i>&nbsp;
          <label class="font">Clientes y Mascotas</label>
        </a>
      </li>

      <li routerLink="/agenda" routerLinkActive="active">
        <a>
          <i class="fas fa-calendar-alt"></i>&nbsp;
          <label class="font">Agenda</label>
        </a>
      </li>
      <li routerLink="/product" routerLinkActive="active">
        <a>
          <i class="fas fa-syringe"></i>&nbsp;
          <label class="font">Productos</label>
        </a>
      </li>

      <li routerLink="/provider" routerLinkActive="active">
        <a>
          <i class="fas fa-truck"></i>&nbsp;
          <label class="font">Proovedores</label>
        </a>
      </li>
      
      <li routerLink="/prueba1" routerLinkActive="active">
        <a>
          <i class="fas fa-copy"></i>&nbsp;
          <label class="font">Ajustes</label>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <router-outlet></router-outlet>
  </div>

  <!-- jQuery CDN - Slim version (=without AJAX) -->