<div class="container">
        <div class="row">
            <div class="col order-last">
                <div class="form-container">
                    <br>
                    <input type="text" placeholder="Buscar nombre" class="form-control" name="filterUser" id="filterUser"
                        [(ngModel)]="filterUser">
                    <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripcón</th>
                                <th> Proveedor</th>
                                <th>Stock</th>
                                <th>Precio</th>
                                <th>Detalle</th>
    
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of usersList">
                                <td scope="row">
                                    {{item.name}}
                                </td>
                                <td>
                                    {{item.description}}
                                </td>
                                <td>
                                    {{item.provider}}
                                </td>
                                <td>
                                    {{item.stock}}
                                </td>
                                <td>
                                    {{item.price}}
                                </td>
                                <td>
                                    {{item.detail}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col" style="position: inherit;">
                <div class="container">
                    <br>
                    <h1>Productos</h1>
                    <br>
                    <form>
                        <h5>Nombre</h5>
                        <input class="form-control" type="text" placeholder="Ej. Ana Rodriguez">
                        <!-- <div class="alert alert-danger" role="alert" *ngIf="name.invalid && (name.dirty || name.touched)">
                                <div class="container-error-message" *ngIf="name.errors.required">
                                    El nombre es requerido
                                  </div>
                            </div> -->
                        <br>
                        <h5>Descripción</h5>
                        <input class="form-control" type="text" placeholder="Agregar descripción del producto">
                        <!-- <div class="alert alert-danger" role="alert" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                                <div class="container-error-message" *ngIf="descripcion.errors.required">
                                   La descripcion es requerida
                                  </div>
                            </div> -->
                        <br>
                        <h5>Proveedor</h5>
                        <select class="form-control">
                            <option>Wiskas </option>
                            <option>Farmaceutica Canina </option>
                        </select>
                        <br>
                        <br>
                        <h5>Stock</h5>
                        <input class="form-control" type="text" placeholder="Ej. 100">
                        <br>
                        <h5>Precio</h5>
                        <input class="form-control" type="text" placeholder="Ej. $150.00">
                        <br>
                        <button type="submit" class="btn btn-warning">
                            Agregar Producto
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>