<div class="card" style="width: 35rem;">
    <div class="card-body">
        <h5 class="card-title">Últimas ventas</h5>
        <table class="table">
            <thead class="thead">
                <tr>
                    <th>Nombre</th>
                    <th>Correo electrónico</th>
                </tr>
            </thead>
            <tbody *ngFor="let user of users;let i=index">
                <tr>
                    <td>{{user.name + " " + user.lastname}}</td>
                    <td>{{user.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>