<div style="font-size: 30px;" class="container">
    Agenda
</div>
<hr>
<div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
        Launch demo modal
    </button>
    <br><br>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content" style="width: 150%;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col order-last">
                                <div class="form-group">
                                    <label>Mascota</label>
                                    <input [(ngModel)]="pet" name="pet" [value]="pet" type="text"
                                        placeholder="Nombre de la mascota" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Edad</label>
                                    <input [(ngModel)]="age" name="age" [value]="age" type="text"
                                        placeholder="Edad de la mascota" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Especie</label>
                                    <input [(ngModel)]="specie" name="specie" [value]="specie" type="text"
                                        placeholder="Especie de la mascota" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Genero</label>
                                    <input [(ngModel)]="gender" name="gender" [value]="gender" type="text"
                                        placeholder="Genero de la mascota" class="form-control">
                                </div>
                                <div class="form-group" *ngFor="let a of agenda">
                                    <label>Encargado</label>
                                    <input [(ngModel)]="encargado" name="encargado" [value]='encargado' type="text"
                                        placeholder="Nombre del encargado" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Estado de la cita</label>
                                    <select [(ngModel)]="status" name="status" [value]="status" class="form-control">
                                        <option value="En proceso">En proceso</option>
                                        <option value="En consulta">En consulta</option>
                                        <option value="Cancelada">Cancelada</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>Dueño</label>
                                    <input [(ngModel)]="name" name="name" [value]="name" type="text"
                                        placeholder="Nombre del dueño" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Servicio</label>
                                    <select [(ngModel)]="service" name="service" [value]="service" class="form-control">
                                        <option value="Petshop">Petshop</option>
                                        <option value="Peluquería">Peluquería</option>
                                        <option value="Hotelería">Hotelería</option>
                                        <option value="Policlínico">Policlínico</option>
                                        <option value="Pabellón">Pabellón</option>
                                        <option value="Control">Control</option>
                                        <option value="Vacuna">Vacuna</option>
                                        <option value="Consulta">Consulta</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input [(ngModel)]="email" name="email" [value]="email" type="email"
                                        class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label>No.Télefono</label>
                                    <input [(ngModel)]="phone" name="phone" [value]="phone" type="tel"
                                        class="form-control" placeholder="(644) 113-7484">
                                </div>
                                <div class="form-group">
                                    <label>Fecha inicio</label>
                                    <input [(ngModel)]="fechaInicio" name="fechaInicio" [value]="fechaInicio"
                                        class="form-control" type="datetime-local">
                                </div>
                                <div class="form-group">
                                    <label>Fecha fin</label>
                                    <input [(ngModel)]="fechaFin" name="fechaFin" [value]="fechaFin"
                                        class="form-control" type="datetime-local">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="add()">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <ejs-calendar (click)="al(calendar)" id=calendar [values]='value' [isMultiSelection]='multiselect'
                [(ngModel)]="calendar" name="calendar"></ejs-calendar> -->
    <!-- <label>{{calendar| date: 'dd/MM/yyyy'}}</label><br>
                <label>{{calendar}}</label><br> -->
    <!-- <label *ngFor="let g of h">{{g.f}}</label><br>
            <ul *ngFor="let ca of modelado">
                <li>Se agregó {{ca.val}}</li>
            </ul> -->
    <input type="text" class="form-control" placeholder="Filtrar por nombre ó estado de cita" [(ngModel)]="query"
        id="listSearch">
    <br>
    <table class="table" style="font-size: 13px;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha inicio</th>
                <th scope="col">Fecha final</th>
                <th scope="col">Numero de télefono</th>
                <th scope="col">Email</th>
                <th scope="col">Servicio</th>
                <th scope="col">Edad</th>
                <th scope="col">Especie</th>
                <th scope="col">Genero</th>
                <th scope="col">Nombre de la mascota</th>
                <th scope="col">Encargado</th>
                <th scope="col">Estado de la cita</th>
            </tr>
        </thead>
        <tbody *ngFor="let p of agenda | filterUsers: query;let i=index">
            <tr data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" (click)="prueba(p)">
                <th scope="row">{{i+1}}</th>
                <td scope="row">{{p.name}}</td>
                <td scope="row">{{p.fechaInicio}}</td>
                <td scope="row">{{p.fechaFin}}</td>
                <td scope="row">{{p.phone}}</td>
                <td scope="row">{{p.email}}</td>
                <td scope="row">{{p.service}}</td>
                <td scope="row">{{p.age}}</td>
                <td scope="row">{{p.specie}}</td>
                <td scope="row">{{p.gender}}</td>
                <td scope="row">{{p.pet}}</td>
                <td scope="row">{{p.encargado}}</td>
                <td *ngIf="p.status=='En proceso'"><span class="badge badge-warning">{{p.status}}</span></td>
                <td *ngIf="p.status=='En consulta'"><span class="badge badge-success">{{p.status}}</span></td>
                <td *ngIf="p.status=='Cancelada'"><span class="badge badge-danger">{{p.status}}</span></td>
            </tr>
        </tbody>
    </table>
</div>